<script>
  export default {
    props: ['icon', 'name', 'value']
  }
</script>

<template>
    <div>
        <i class="material-icons lightGrey">{{icon}}</i>
        <span class="positionAbsolute fontBold ml-5">{{ name }}</span>
        <span class="floatRight">
          {{ value }}
        </span>
    </div>
    <div class="divider mt-10 mb-15"></div>
</template>