.lightGrey {
    color: rgb(180,180,180);
}

.fontBold {
    font-weight: bold;
}

.pt-10 {
    padding-top: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.floatRight {
    float: right;
}

.positionAbsolute {
    position: absolute;
}

.ml-5 {
    margin-left: 5px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-2 {
    margin-top: 2px;
}

.fs-16 {
    font-size: 16px;
}

.textCenter {
    text-align: center;
}

.colorRed {
    color: red;
}