<script>
  // Import
  import 'materialize-css/dist/css/materialize.min.css';
  import 'material-design-icons/iconfont/material-icons.css';
  import './assets/announcement.css'
</script>

<template>
  <div class="container-fluid">
    <div class="col s12 mb-15">
      <nav>
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">List</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="container">
    <RouterView />
  </div>
</template>