<script>
  export default {
    props: ['data', 'showDisplay'],
    data () {
      let defaultUrlPicture = 'https://picsum.photos/200/200?random=1';

      return {
        picture: this.data.picture.includes('https://') ? this.data.picture : defaultUrlPicture,
        labelOnRemote: this.data.onRemote === true ? 'Yes' : 'No'
      }
    },
  }
</script>

<template>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img :src="'' + picture">
          <span class="card-title">
            <span v-show="data.onRemote">
              <i class="material-icons">import_export</i>
            </span>
            <div>
              {{ data.firstname }} {{ data.lastname }}
            </div>
            <div class="fs-16">
              {{ data.age }} years old
            </div>
          </span>
        </div>
        <div class="card-content">
          <div>
            <i class="material-icons lightGrey">work</i>
            <span class="positionAbsolute mt-2 ml-5">{{ data.job?.name }}</span>
          </div>
          <div>
            <i class="material-icons lightGrey">place</i>
            <span class="positionAbsolute mt-2 ml-5">{{ data.job?.city }}</span>
          </div>
        </div>
        <div class="card-action" v-if="showDisplay">
          <a :href="'/announcement/' + data.id">Show</a>
        </div>
      </div>
    </div>
</template>