<script>
  // Import
  import AnnouncementPartialCard from './AnnouncementPartialCard.vue';
  import axios from 'axios';
  export default {
    components: {
      AnnouncementPartialCard
    },
    data () {
      return {
        announcements: [],
        categoryJob: '',
        isRunning: false,
        onError: false,
      }
    },
    mounted () {
      this.getAnnouncementsWithCategoryJob('');
    },
    watch: {
      categoryJob: function(value) {
          this.getAnnouncementsWithCategoryJob(value);
      }
    },
    methods: {
      getAnnouncementsWithCategoryJob(categoryJob) {
        this.isRunning = false;
        axios
          .get('http://127.0.0.1:8000/api/announcements?categoryJob=' + categoryJob)
          .then(response => this.announcements = response.data['hydra:member'])
          .catch(() => this.onError = true)
          .then(() => this.isRunning = true);
      },
    }
  }
</script>

<template>
  <div class="row">
    <div class="col s3">
      <span>Category job</span>
      <select class="browser-default mt-20" v-model="categoryJob">
        <option value="">All</option>
        <option value="Back-end">Back-End</option>
        <option value="Front-end">Front-End</option>
      </select>
    </div>
    <div class="col s9">
      <div v-if="isRunning === false">
        <div style="text-align:center;">
          <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div v-if="onError" class="textCenter">
          <span class="colorRed">An error is occured !</span>
        </div>
        <div v-else>
          <div v-if="announcements.length !== 0">
            <div v-for="announcement in announcements">
              <AnnouncementPartialCard v-bind:showDisplay="true" v-bind:data="announcement" />
            </div>
          </div>
          <div v-else class="textCenter">
            <span>No data</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>