<script>
  import axios from 'axios';
  import AnnouncementPartialCard from './AnnouncementPartialCard.vue';
  import ShowLineAnnouncement from './../Custom/ShowLineAnnouncement.vue';
  import './../../assets/announcement.css';

  export default {
    data() {
      return {
        announcement: null,
        isRunning: false,
        onError: false,
        runUpdateWarning: false
      };
    },
    mounted () {
      this.showAnnoucement(this.$route.params.id);
    },
    watch: {
      announcement: function() {
        this.updateAmountView();
      }
    },
    methods: {
      showAnnoucement(id) {
        this.isRunning = false;
        axios
          .get('http://127.0.0.1:8000/api/announcements/' + this.$route.params.id)
          .then(response => this.announcement = response.data)
          .catch(() => this.onError = true)
          .then(() => this.isRunning = true);
      },
      updateAmountView() {
        axios.post('http://127.0.0.1:8000/api/announcements/' + this.$route.params.id + '/upAmountView', {})
          .catch(() => this.onError = true);
      },
      updateAmountWarning() {
        let data = {amountWarning: this.announcement.amountWarning + 1};

        axios
          .patch('http://localhost:8000/api/announcements/' + this.announcement.id, data, {
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/merge-patch+json'
            } 
          })
          .catch(() => this.onError = true)
          .then(() => this.runUpdateWarning = true);
      }
    }
  }
</script>

<template>
  <div class="row">
      <div v-if="isRunning === false">
        <div style="text-align:center;">
          <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div v-if="onError" class="textCenter">
          <span class="colorRed">An error is occured !</span>
        </div>
        <div v-else>
          <div v-if="announcement !== null">
          <AnnouncementPartialCard v-bind:showDisplay="false" v-bind:data="announcement" />
          <div class="col s6 mt-10">
            <ShowLineAnnouncement icon="remove_red_eye" name="Amount view" v-bind:value="announcement.amountView" />
            <ShowLineAnnouncement icon="warning" name="Amount warning" v-bind:value="announcement.amountWarning" />
            <ShowLineAnnouncement icon="email" name="Email" v-bind:value="announcement.email" />
            <div>
                <i class="material-icons lightGrey">label_outline</i>
                <span class="positionAbsolute fontBold ml-5">Category job</span>
                <span class="floatRight">
                <span v-if="announcement.job.categories.length >= 1">
                  <span v-for="category in announcement.job.categories" class="badge">{{ category.name }}</span>
                </span>
                <span v-else>nop</span>
              </span>
              </div>
            <div class="divider mt-10 mb-15"></div>

            <ShowLineAnnouncement icon="place" name="City" v-bind:value="announcement.city" />
            <ShowLineAnnouncement icon="attach_file" name="Resume" v-bind:value="announcement.resume" />

            <div class="mt-20">
              <div><i class="material-icons lightGrey">format_align_left</i><span class="positionAbsolute fontBold ml-5 mt-2">Description</span></div> <br>
              <div>{{ announcement.description }}</div>
            </div>

            <div class="mt-20" v-show="!runUpdateWarning">
              <a class="waves-effect waves-light btn red" @click="updateAmountWarning">Ask to remove</a>
            </div>

          </div>
          </div>
          <div v-else class="textCenter">
            <span>No data</span>
          </div>
    </div>
    </div>
  </div>
</template>